<div>{{appState$ | async | json}}</div>

<!-- <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
     <ng-container>

    </ng-container> -->
<!-- </ng-container> --> 


<div class="container-xl" style="text-align: center">
    <div class="table-responsive">
        <div class="row">
            <div class="buttons">
                <button type="button" class="btn">
                    Dodaj książkę
                </button>
                <button type="button" class="btn">
                    Usuń książkę
                </button>
                <button type="button" class="btn">
                    Edytuj książkę
                </button>
            </div>
        </div>
    </div>
</div>